.tabbed-slidebox .slider {
    height: 100%;
}
.tabbed-slidebox.btm .slider {
    margin-bottom: -50px;
}
.tabbed-slidebox .slider-slides {
    width: 100%;
}

.tabbed-slidebox .slider-slide {
    padding-top: 0px;
    color: #000;
   /*  background-color: #fff; */
    text-align: center;
    font-weight: 300;
   /* background-color: #0398dc; */

}

.tabbed-slidebox .tsb-icons {
    text-align: center;
    /*margin: 10px 0; */
    position: relative;
	/*background-color:#fff; */
      margin-top: 14px;

}

.tabbed-slidebox .tsb-ic-wrp {
    display: flex;
    position: relative;
	-webkit-transition: -webkit-transform 0.3s; /* For Safari 3.1 to 6.0 */
	-webkit-transform:translate3d(0,0,0);
    padding-bottom: 3px;
}

.tabbed-slidebox .tsb-icons a {
    display: inline-block;
    width: 54px;
    font-size: 2.5em;
    color: rgba(0, 0, 0, 0.3);
	-webkit-transform:translate3d(0,0px,0);

     
   
}

.tabbed-slidebox .tsb-icons a.active {
    color: rgba(0, 0, 0, 1);
    font-size: 1.3em;
	-webkit-transform:translate3d(0,0,0);
    
}

.tabbed-slidebox .tabbed-slidebox {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.tabbed-slidebox .tsb-icons:after {
    width: 0;
    height: 0;
  /*  border-style: solid;*/
    border-width: 0 1.4em 1.4em 1.4em;
    border-color: transparent transparent #0398dc transparent;
    position: absolute;
    content: "";
    display: block;
    bottom: -12px;
    left: 50%;
    margin-left: -14px;
}
.tsb-hscroll.scroll-view{
  	white-space: nowrap;
	margin:0 auto;
    width: 100%;
    background: #fff;
    height: 40px;
    margin-top: -5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26) !important;
}
.tsb-hscroll.scroll-view .scroll-bar{
	visibility:hidden;
}
.tsb-hscroll.scroll-view .scroll.onscroll{
	-webkit-transition: -webkit-transform 0.3s; /* For Safari 3.1 to 6.0 */
}

.tabbed-slidebox .tsb-icons .scroll a{
	width: 50%;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    margin: 0 0px;
    border-bottom: 2px solid transparent;
    height: 34px;
    padding: 10px;
    /* text-transform: uppercase; */
    color: #666;
    font-family: 'Raleway';
    font-weight: 400;
    text-align: center;
    /*border-right: 1px solid #444;*/
    padding-top: 5px;
    margin-top: 6px;

}
.tabbed-slidebox .tsb-icons .scroll a.active {
	/*font-size: 1.3em; */
	/*border-bottom: 2px solid #e74c3c; */
       /* font-weight: 800;*/
border-bottom:  2px solid #000;
color: #000;

    
}